In [56]:
import os, time, json
import tmdbsimple as tmdb 
import pandas as pd
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title.basics.tsv.gz',
 'title_basics.csv.gz',
 'title.ratings.tsv.gz',
 'tmdb_api.json',
 'title-akas-us-only.csv',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'Data',
 'title_ratings.csv.gz']

In [57]:
with open('/Users/obed/.secret/tmdb_api.json') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['API Key'])

In [58]:
tmdb.API_KEY =  login['API Key']

In [59]:
# create a movie object and fetch information using the .Movie function from tmdb
movie = tmdb.Movies(615)

In [60]:
# printing movie info
movie.info()

{'adult': False,
 'backdrop_path': '/pulJ1iY7GVeppMRipiR7ZGDW7EW.jpg',
 'belongs_to_collection': {'id': 985311,
  'name': 'The Passion of the Christ Collection',
  'poster_path': '/mQIZk7TV8xOHSeuX6O364vylhGs.jpg',
  'backdrop_path': '/lpZBhgQDkiQCXZBlQh5pY6KLOtT.jpg'},
 'budget': 30000000,
 'genres': [{'id': 18, 'name': 'Drama'}],
 'homepage': 'https://www.foxmovies.com/movies/the-passion-of-the-christ',
 'id': 615,
 'imdb_id': 'tt0335345',
 'original_language': 'en',
 'original_title': 'The Passion of the Christ',
 'overview': "A graphic portrayal of the last twelve hours of Jesus of Nazareth's life.",
 'popularity': 52.987,
 'poster_path': '/v9f9MMrq2nGQrN7cHnQRmEq9lSE.jpg',
 'production_companies': [{'id': 152,
   'logo_path': '/ttbRwgVW7EoVOS4Af7MnyxFM0FM.png',
   'name': 'Icon Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-02-25',
 'revenue': 611899420,
 'runtime': 127,
 'spoken_languages': [{'english_name': 'Hebrew',
   'iso_639_1': 'he',
   'name': 'עִבְרִית'},
  {'english_name': 'Latin', 'iso_639_1': 'la', 'name': 'Latin'}],
 'status': 'Released',
 'tagline': 'By his wounds, we were healed.',
 'title': 'The Passion of the Christ',
 'video': False,
 'vote_average': 7.468,
 'vote_count': 3994}

In [61]:
movie = tmdb.Movies('tt0335345')
info = movie.info()
info['budget']

30000000

In [62]:
# example from package README
# source = https://github.com/celiao/tmdbsimple
releases = movie.releases()
for c in releases['countries']:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

R
R

In [63]:
# Get the movie object for the current id
movie = tmdb.Movies('tt0335345')
# save the .info .releases dictionaries
info = movie.info()
releases = movie.releases()
# Loop through countries in releases
for c in releases['countries']:
    # if the country abbreviation==US
    if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
       info['certification'] = c['certification']

In [64]:
def movie_rating(movie_id):
# Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
# save the .info .releases dictionaries
    info = movie.info()

    releases = movie.releases()
# Loop through countries in releases
    for c in releases['countries']:
    # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
            info['certification'] = c['certification']

    return info

In [65]:
# test my function for "Avengers"
test = movie_rating("tt0848228") #put your function name here
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 133.91,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.711,
 'vote_count': 29072,
 'certification': 'PG-13'}

In [66]:
# test my function for "The Notebook"
test = movie_rating("tt0332280") #put your function name here
test

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 54.861,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/mevhneWSqbjU22D1MXNd4H9x0r0.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.881,
 'vote_count': 10546,
 'certification': 'PG-13'}

In [67]:
## testing our function by looping through a list of ids
import pandas as pd
test_ids = ["tt0335345","tt0848228","tt0332280"]
results = []
for movie_id in test_ids:
    
    try:
        movie_info = movie_rating(movie_id)
        results.append(movie_info)
        
    except: 
        pass
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/pulJ1iY7GVeppMRipiR7ZGDW7EW.jpg,"{'id': 985311, 'name': 'The Passion of the Chr...",30000000,"[{'id': 18, 'name': 'Drama'}]",https://www.foxmovies.com/movies/the-passion-o...,615,tt0335345,en,The Passion of the Christ,...,611899420,127,"[{'english_name': 'Hebrew', 'iso_639_1': 'he',...",Released,"By his wounds, we were healed.",The Passion of the Christ,False,7.468,3994,R
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.711,29072,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.881,10546,PG-13

In [68]:
## testing our function by looping through a list of ids
import pandas as pd
test_ids = ["tt0335345","tt0848228","tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    
    try:
        movie_info = movie_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e: 
        errors.append([movie_id, e])
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/pulJ1iY7GVeppMRipiR7ZGDW7EW.jpg,"{'id': 985311, 'name': 'The Passion of the Chr...",30000000,"[{'id': 18, 'name': 'Drama'}]",https://www.foxmovies.com/movies/the-passion-o...,615,tt0335345,en,The Passion of the Christ,...,611899420,127,"[{'english_name': 'Hebrew', 'iso_639_1': 'he',...",Released,"By his wounds, we were healed.",The Passion of the Christ,False,7.468,3994,R
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.711,29072,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.881,10546,PG-13

In [69]:
print(f"- Number of errors: {len(errors)}")
errors

- Number of errors: 0

[]