In [11]:
import pandas as pd
import numpy as np

In [12]:
import os
os.makedirs('Data/',exist_ok=True) # Confirm folder created
os.listdir("Data/")

[]

In [13]:
# retrieving akas url
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

# showing preview of akas data
akas.info()
akas.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36962438 entries, 0 to 36962437
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [14]:
# retrieving basic url
basics_url="http://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

# showing preview of akas data
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10106340 entries, 0 to 10106339
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 693.9+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [15]:
# retrieving ratings url
ratings_url="http://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

# showing preview of akas data
ratings.info()
ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341659 entries, 0 to 1341658
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1341659 non-null  object
 1   averageRating  1341659 non-null  float64
 2   numVotes       1341659 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.7+ MB

      tconst  averageRating  numVotes
0  tt0000001            5.7      1989
1  tt0000002            5.8       264
2  tt0000003            6.5      1863
3  tt0000004            5.5       177
4  tt0000005            6.2      2648

## AKAS

### Replacing "\N" with np.nan

In [17]:
akas = akas.replace({'\\N':np.nan},inplace=True)

In [19]:
# Filtering to keep only US movies
us_movies = akas[akas['region' == 'US']]

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# displaying the first 5 rows
us_movies.head()

## Basics

### Replacing "\N" with np.nan

In [ ]:
basics = basics.replace({'\\N':np.nan},inplace=True)

In [ ]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

In [ ]:
basics = basics[keepers]
basics

### ELIMINATION

In [ ]:
# Eliminate movies that are null for runtimeMinutes
null_runtime = basics['runtimeMinutes'].str.contains('np.nan', case=True)
basics = basics[~null_runtime]

In [ ]:
# Eliminate movies that are null for genres.
basics = basics[basics['genres'].notna()]

In [ ]:
basics = basics[basics.titleType == 'movie']

In [ ]:
basics

In [ ]:
# Eliminate the null values in the "startYear" column so we can convert it to a float
sY_null = basics['startYear'].str.contains('np.nan', case=True)
basics = basics[~sY_null]

In [ ]:
# Convert the "startYear" column to float.
basics['startYear'] = basics['startYear'].astype(float)
# Confirm the datatype
basics.dtypes

## Ratings

### Replacing "\N" with np.nan

In [ ]:
ratings = ratings.replace({'\\N':np.nan},inplace=True)